<html>
  <body style="background-color: #c2d1ff">
    <div>
      <section class="py-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="sm-3">DIELESS</h2>
              <h4 class="sm-4 secondary_color">
                Bienvenidos a tu portal de plantillas de vacunación DieLess.
                <br />
                Nuestro sistema innovador le permite escanear un código QR para
                obtener información detallada sobre la vacunación de su perro.
              </h4>

              <div class="col-sm-12 photo_qr_card" [hidden]="action.isPause">
                <!-- <img src="..\assets\cat1.jpg" alt="cat1" class="img-fluid" /> -->
                <ngx-scanner-qrcode
                  #action="scanner"
                  [config]="config"
                  (event)="onEvent($event, action)"
                ></ngx-scanner-qrcode>

                <!-- data  -->
                <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

                <!-- loading -->
                <p *ngIf="action.isLoading">⌛ Loading...</p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="mt-5">
                <button
                  class="button btn-primary btn-px-2 btn-lg m-auto"
                  [class.btn-info]="!action.isStart"
                  [class.btn-warning]="action.isStart"
                  [disabled]="action.isLoading"
                  (click)="handleStartOrUnpause(action)"
                >
                  <span> ¡Escanear OTRO Codigo!</span>
                </button>
              </div>
            </div>

            <div class="card" *ngIf="selectedDog">
              <div class="card-body">
                <h2 class="card-title">{{ selectedDog.nombreDelPerro }}</h2>
                <img
                  [src]="selectedDog.imageUrl"
                  alt="Dog image"
                  class="img-fluid"
                />
                <p class="card-text">
                  <strong>Descripción:</strong>
                  {{ selectedDog.descripcionDelPerro.color }},
                  {{ selectedDog.descripcionDelPerro.tamano }}<br />
                  <strong>Edad:</strong>
                  {{ selectedDog.edadAnosdelPerro }} years<br />
                  <strong>Raza:</strong> {{ selectedDog.raza }}<br />
                  <strong>Fecha de Última Atención:</strong>
                  {{ selectedDog.fechaDeUltimaAtencion }}<br />
                  <strong>Género:</strong> {{ selectedDog.genero }}<br />
                  <strong>Esterilización:</strong>
                  {{ selectedDog.esterilizacion }}<br />
                  <strong>Dueño:</strong> {{ selectedDog.nombreDueno }}<br />
                  <strong>Contacto:</strong>
                  {{ selectedDog.numeroDeTelefonoDelDueno }}
                </p>

                <div class="card-text text-center">
                  <strong>Cartilla de Vacunación:</strong>
                </div>
                <div class="card-text table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Nombre de la Vacuna</th>
                        <th>Fecha</th>
                        <th>Próxima Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vacuna of selectedDog.cartillaDeVacunacion">
                        <td>{{ vacuna.nombreVacuna }}</td>
                        <td>{{ vacuna.fecha }}</td>
                        <td>{{ vacuna.proximaFecha }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
