<html>
<body>
<div>
  
  <section class="py-6 " style="background-color:#c2d1ff">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-3">DIELESS</h2>
                <h4 class="mb-4 secondary_color">
                    Bienvenidos al portal de plantillas de vacunación de DieLess. Este portal es su recurso integral 
                    para todas las necesidades de plantillas de vacunación. Nuestro sistema innovador 
                    le permite escanear un código QR para obtener información detallada sobre la vacunación de su perro.
                    DieLess tiene la solución perfecta para usted. 
                </h4>
            </div>

            <div class="col-md-6">
              <div class="photo_logo_qr_card">
                  <img src="\src\assets\cat1.jpg" alt="QR code with logo example Spiderman" class="img-fluid">
              </div>
          </div>
          

            <div class="col-md-3">
                <div class="photo_logo_qr_card">
                    <img loading="lazy" src="//cdn0070.qrcodechimp.com/images/homepage/qr-code-with-logo-monalisa.webp" alt="QR code with logo example Monalisa" class="img-fluid">
                </div>
                <div class="photo_logo_qr_card">
                    <img loading="lazy" src="//cdn0070.qrcodechimp.com/images/homepage/image-to-qrcode.webp" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="photo_logo_qr_card">
                    <img loading="lazy" src="//cdn0070.qrcodechimp.com/images/homepage/logo-to-qrcode-design.webp" class="img-fluid">
                </div>
                <div class="photo_logo_qr_card">
                    <img loading="lazy" src="//cdn0070.qrcodechimp.com/images/homepage/image-to-qrcode-dog.webp" class="img-fluid">
                </div>
            </div>

            <div class="col-md-12 text-center">
                <div class="text-center mt-5">
<a href="https://www.youtube.com/watch?v=maYniX-PAUQ" class="button btn-primary btn-px-2 btn-lg m-auto qrhomevideo_btn" target="_blank"><span class="icon-play2 mr-3">    
</span>¡Escanea el QR de tu Mascota!</a>
                </div>               
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>